
body {
  background: url('/static/images/background_graph.png');
  background-size:cover;
  height: 100%;
  margin: 0;
  bottom: 0;
}

img {
    max-width: 100%;
    max-height: 500px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 80px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 45px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
  color: white;
  text-align: center;
  font-size: 24px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4 {
  color: white;
  text-align: center;
  font-size: 18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
    color: white;
  text-align: center;
  font-size: 14px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.column {
  border-style: solid;
  border-width: 2px;
  color: white;
  background-color: #00304F;
  float: left;
  width: 40%;
  margin: 5%;
  bottom:10%
  object-fit: fill;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.square
{
	width: 70%;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 20%;
    height: 100%;
    margin: 0;
    bottom: 0;
}


.tile1
{
	margin: 1%;
	width: 48%;
	height: 250px;
	background-color: black;
	float: left;
	text-align: center;
	background: url('/static/images/dump-truck-segmented-1024x576.png');
	background-repeat: repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 28px;
    font-family: "Times New Roman";
    font-weight: 600;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.tile1:hover
{
	box-shadow: 15px 15px black;
}

.tile2
{
	margin: 1%;
	width: 48%;
	height: 250px;
	background-color: black;
	float: left;
	text-align: center;
	background: url('/static/images/GAN-birds-tracking.png');
	background-repeat: repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 28px;
    font-family: "Times New Roman";
    font-weight: 600;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tile2:hover
{
	box-shadow: 15px 15px black;
}

.tile3
{
	margin: 1%;
	width: 48%;
	height: 250px;
	background-color: black;
	float: left;
	text-align: center;
	background: url('/static/images/ext.jpeg');
	background-repeat: repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 28px;
    font-family: "Times New Roman";
    font-weight: 600;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tile3:hover
{
	box-shadow: 15px 15px black;
}

.tile4
{
	margin: 1%;
	width: 48%;
	height: 250px;
	background-color: black;
	float: left;
	text-align: center;
	background: url('/static/images/algos.jpeg');
	background-repeat: repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 28px;
    font-family: "Times New Roman";
    font-weight: 600;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


.tile4:hover
{
	box-shadow: 15px 15px black;
}

.page
{
  height: 100%;
  margin: 0;
  bottom: 0;
}

page
{
  height: 100%;
  margin: 0;
  bottom: 0;
}
