<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<div class="main__tiles">
	<a href="{% url 'segmentation' %}" class="tile tile--segmentation">
		<img class="tile__image" src="/static/images/dump-truck-segmented-1024x576.png" >
		<div class="tile__content">
			<h2 class="tile__title">Segmentation and object counting</h2>
			<p class="tile__description">Click to see more...</p>
		</div>
	</a>
	<a href="{% url 'tracking' %}" class="tile tile--tracking">
		<img class="tile__image" src="/static/images/GAN-birds-tracking.png" >
		<div class="tile__content">
			<h2 class="tile__title">Object tracking</h2>
			<p class="tile__description">Click to see more...</p>
		</div>
	</a>
	<a href="{% url 'load_segmentation' %}" class="tile tile--analysis">
		<img class="tile__image" src="/static/images/ext.jpeg" >
		<div class="tile__content">
			<h2 class="tile__title">Saved analysis</h2>
			<p class="tile__description">Click to see more...</p>
		</div>
	</a>

	<a href="{% url 'algorithms_desc' %}" class="tile tile--description">
		<img class="tile__image" src="/static/images/algos.jpeg" >
		<div class="tile__content">
			<h2 class="tile__title">Algorithms descriptions</h2>
			<p class="tile__description">Click to see more...</p>
		</div>
	</a>
</div>

{% endblock %}
</html>