<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
 <script>
 document.title = "Interactive"
 </script>
<h2>Interactive Segmentation</h2>

<h3>Parameters:</h3>
<ul class="list">
	<li>
		Foreground sample
        <ul>
			<li>This is a subimage of the original image which belongs to its foreground.</li>
            <li>Will be used to find a probability distribution describing image regions belonging to the foreground.</li>
		</ul>
    </li>
	<li>
		Background sample
        <ul>
			<li>This is a subimage of the original image which belongs to its background.</li>
            <li>Will be used to find a probability distribution describing image regions belonging to the background.</li>
        </ul>
	</li>
</ul>
   
<h3>Steps:</h3>
<ol class="list">
	<li>
		Construction of directed graph that represents our image.</h4>
        <ol type="a">
			<li>Every pixel is a node in this graph. Nodes are connected if they share an edge in the image. </li>
            <li>We add the 'source' and 'sink' nodes that are connected with every node in this graph.</li>
            </p>
		</ol>
	</li>
    <li>
		Assigning weights to edges of the constructed graph.</h4>
         <ol type="a">
			<li>Based on probabilities describing if particular pixel belongs more to the foreground or background of the image.</li>
        </ol>
	</li>
    <li>
		Solving a max-flow/min-cut problem on the</h4>
        <ol type="a">
			<li>There are several standard algorithms, e.g., Ford-Fulkerson (by finding an augmenting path with O(E max| f |) 
			time complexity) or Edmonds-Karp (by using bfs to find the shortest augmenting path, with O(VE2) time complexity) 
			to solve the max-flow problem, typical implementations of these algorithms run pretty fast, in polynomial time 
			in V, E.</li>
			<li><a href="https://sandipanweb.wordpress.com/2018/02/11/interactive-image-segmentation-with-graph-cut/">More informations</a></li>
        </ol>
	</li>
</ol>

{% endblock %}
</html>
