<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="column">
		<h2>Minimal Spanning Tree</h2>
		<a href="{% url 'mst_desc' %}" class="button">Description</a>
		<div class="column__block1">
			<h3>Choose parameters:</h3>
			<form method="post" style="text-align: center;" action="{% url 'mst' %}">
				{% csrf_token %}
				<div class="block__row">
					<label>Type of graph:</label>
					<select name="Edges" size="2">
						<option value=True selected="selected">8 Edges</option>
						<option value=False>4 Edges</option>
					 </select>
				 </div>
				 <div class="block__row">
				   <label>Threshold:</label>
					<select name="Threshold" size="3">
					   <option value=1 selected="selected">edge weight + const * 1.0 * sqrt(size of a segment)</option>
					   <option value=2 >edge weight + const * 1.0 / sqrt(size of a segment)</option>
					   <option value=3 >const</option>
					</select>
				</div>
				<div class="block__row">
					<label>Const:</label>
					<input type="number" name="Const" value=3.0>
				</div>
				<div class="block__row">
					<label>Minimal segment size:</label>
					<input type="number" name="Min_size" value=200>
				</div>
				<input type="submit" class="button" value="Submit" onclick="$('#loading').show();">
				<input type="reset" class="button" value="Reset">
			</form>
<!--			<div id="loading" style="display:none;" class="tenor-gif-embed" data-postid="3938292" data-share-method="host" data-width="100%" data-aspect-ratio="1.8229166666666665"><a href="https://tenor.com/view/the-hangover-zach-galifianakis-math-card-counting-gambling-gif-3938292">Zach Galifianakis Thinking GIF</a> from <a href="https://tenor.com/search/thehangover-gifs">Thehangover GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>-->

		</div>
		{% if segmented_image %}
		<div class="column__block1">
            <h3>Additional segmentation for too large objects</h3>
            <h4>Choose parameters:</h4>
			<form method="post" style="text-align: center;" action="{% url 'mst_additional' %}">
				{% csrf_token %}
				<div class="block__row">
					<label>Threshold:</label>
					<select name="Threshold" size="3">
					   <option value=1 selected="selected">edge weight + const * 1.0 * sqrt(size of a segment)</option>
					   <option value=2 >edge weight + const * 1.0 / sqrt(size of a segment)</option>
					   <option value=3 >const</option>
					</select>
				</div>
				<div class="block__row">
					<label>Minimal segment size (excluding background):</label>
					<input type="number" name="Min_size" value=200>
				</div>
				<div class="block__row">
					<label>Maximal segment size (excluding background):</label>
					<input type="number" name="Max_size" value=200>
				</div>
				<div class="block__row">
					<label>Const:</label>
					<input type="number" name="Const" value=3.0>
				</div>
				<input type="submit" class="button" value="Submit" onclick="$('#loading').show();">
				<input type="reset" class="button" value="Reset">
            </form>
		</div>
       {% endif %}
	</div>

	<div class="column">
		<h2>Segmentation</h2>
			{% if image %}
				Original image:
				<br>
				<p style="text-align: center;"><img src="{{ image }}" alt=""  /></p>
			
				{% else %}
				{% load static %}
				<p style="text-align: center;"><img src="{% static 'images/placeholder.png' %}" alt="" width="400" height="400" /></p>
			{% endif %}
			
			{% if segmented_image %}
				Segmented image:
				<br>
            	<p style="text-align: center;"><img src="{{ segmented_image }}" alt=""  /></p>
        	{% else %}
				<div id="loading" style="display:none;">
					Loading!
					<br>
					<img src="/static/images/tenor.gif" alt="" /></div>
				<br>
			{% endif %}
        {% if counter %}
            <p style="text-align: center;">Number of objects: {{ counter }}</p>
        {% endif %}

		{% if segmented_image %}
			<form method="post" style="text-align: center;" action="{% url 'save_mst' %}">
				{% csrf_token %}
				<div class="block__row">
					<label>Name:</label>
					<input type="text" name="Name" value='Name'>
				</div>
				<div class="block__row">
					<label>Description:</label>
					<textarea rows="7">{{ description }}</textarea>
				</div>
				<input class="button" type="submit" value="Submit">
				<input class="button" type="reset" value="Reset">
				{% if unique %}
					<h5 style="color:red">
						Already in base, choose other name!
					</h5>
				{% endif %}
			</form>
		{% endif %}
	</div>
</div>
{% endblock %}
</html>
