<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
 <script>
 document.title = "MST"
 </script>
<div class="row">
  <div class="column">
      <h2>Minimal Spanning Tree</h2>
      <a href="{% url 'mst_desc' %}" class="button">Description</a>
	  <div class="column__block1">
		  <h3>Choose parameters:</h3>
		   <form method="post" style="text-align: center;" action="{% url 'mst' %}">
			   {% csrf_token %}
			   <div class="block__row">
				   <label>Type of graph:</label>
				   <select name="Edges" size="2">
					 {% if edges == "True" %}
					<option value=True selected="selected">8 Edges</option>
					<option value=False>4 Edges</option>
					   {% else%}
					<option value=True >8 Edges</option>
					<option value=False selected="selected">4 Edges</option>
					   {% endif %}
				  </select>
			  </div>
			  <div class="block__row">
				   <label>Threshold:</label>
				   <select name="Threshold" size="3">
					   {% if threshold == 1 %}
					   <option value=1 selected="selected">edge weight + const * 1.0 * sqrt(size of a segment)</option>
					   <option value=2 >edge weight + const * 1.0 / sqrt(size of a segment)</option>
					   <option value=3 >const</option>
					   {% elif threshold == 2 %}
					   <option value=1 >edge weight + const * 1.0 * sqrt(size of a segment)</option>
					   <option value=2 selected="selected">edge weight + const * 1.0 / sqrt(size of a segment)</option>
					   <option value=3 >const</option>
					   {% else %}
					   <option value=1 >edge weight + const * 1.0 * sqrt(size of a segment)</option>
					   <option value=2 >edge weight + const * 1.0 / sqrt(size of a segment)</option>
					   <option value=3 selected="selected">const</option>
					   {% endif %}
				 </select>
			 </div>
			 <div class="block__row">
				 <label>Const:</label>
				 <input type="number" name="Const" value={{ const }}>
			 </div>
			 <div class="block__row">
				 <label>Minimal segment size:</label>
				 <input type="number" name="Min_size" value={{ min_size }}>
			 </div>
			<input class="button" type="submit" value="Submit">
			<input class="button" type="reset" value="Reset">
			</form>
		</div>
       {% if segmented_image %}
			<div class="column__block1">
				<h3>Additional segmentation for too large objects</h3>
			</div>
            <div class="column__block1">
				<h3 >Choose parameters:</h3>

			   <form method="post" style="text-align: center;" action="{% url 'mst_additional' %}">
				   {% csrf_token %}
				   <div class="block__row">
						<label>Threshold:</label>
					   <select name="Threshold" size="3">
					   {% if threshold2 == 1 %}
					   <option value=1 selected="selected">edge weight + const * 1.0 * sqrt(size of a segment)</option>
					   <option value=2 >edge weight + const * 1.0 / sqrt(size of a segment)</option>
					   <option value=3 >const</option>
					   {% elif threshold2 == 2 %}
					   <option value=1 >edge weight + const * 1.0 * sqrt(size of a segment)</option>
					   <option value=2 selected="selected">edge weight + const * 1.0 / sqrt(size of a segment)</option>
					   <option value=3 >const</option>
					   {% else %}
					   <option value=1 >edge weight + const * 1.0 * sqrt(size of a segment)</option>
					   <option value=2 >edge weight + const * 1.0 / sqrt(size of a segment)</option>
					   <option value=3 selected="selected">const</option>
					   {% endif %}
						</select>
					</div>
					<div class="block__row">
						<label>Minimal segment size (excluding background):</label>
						<input type="number" name="Min_size" value={{ min_size2 }}>
					</div>
					<div class="block__row">
						<label>Maximal segment size (excluding background):</label>
						<input type="number" name="Max_size" value={{ max_size2 }}>
					</div>
					<div class="block__row">
						<label>Const:</label>
						<input type="number" name="Const" value={{ const2 }}>
					</div>
				</form>
			</div>
       {% endif %}


  </div>

  <div class="column">
    <h2>Segmentation</h2>

        {% if segmented_image %}
            <p style="text-align: center;"><img src="{{ segmented_image }}" alt=""  /></p>
        {% endif %}
        {% if counter %}
            <p style="text-align: center;">Number of objects: {{ counter }}</p>
        {% endif %}

        <br>

        {% if image %}
            <p style="text-align: center;"><img src="{{ image }}" alt="" /></p>
        {% else %}
            {% load static %}
            <p style="text-align: center;"><img src="{% static 'images/placeholder.png' %}" alt="" width="400" height="400" /></p>
        {% endif %}

      {% if segmented_image %}

       <form method="post" style="text-align: center;" action="{% url 'save_mst' %}">
               {% csrf_token %}
				<div class="block__row">
					<label>Name:</label>
					<input type="text" name="Name" value='{{ name }}' readonly>
				</div>
				<div class="block__row">
					<label>Description:</label>
					<textarea readonly rows="7">{{ description }}</textarea>
				</div>	
       </form>
      {% endif %}

  </div>
</div>
{% endblock %}
</html>
