<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
 <script>
 document.title = "Multi-Tracking"
 </script>
<h2>Multi-Object Tracking with Graph Matching</h2>

<h3>Parameters:</h3>
<ul class="list">
	<li>
		Start frame:
		<ul>
			<li>Integer number</li>
		</ul>
	</li>
	<li>
		End frame:
		<ul>
			<li>Integer number</li>
		</ul>
	</li>
</ul>
<h3>Backend settings:</h3>
<ul class="list">
	<li>
		Segmentation algorithm:
		<ul>
			<li>Two-connected components (default)</li>
			<li>Normalized Graph Cuts</li>
		</ul>
	</li>
	<li>
		Coordinates of area to be segmented:
		<ul>
			<li>upper_left_x</li>
			<li>upper_left_y</li>
			<li>lower_right_x</li>
			<li>lower_right_y</li>
		</ul>
	</li>
</ul>
<h3>Steps:</h3>
<ol class="list">
	<li>
		Video preprocessing:
		<ol type="a">
			<li>Split movie into frames.</li>
			<li>Reshape each frame according to the given coordinates.</li>
		</ol>
	</li>
	<li>
		Parallelly object finding:
		<ol type="a">
			<li>Segment all frames.
			<li>Divide frames into 8x8 blocks.</li>
			<li>Find "connected" boxes with expanded DFS algorithm.</li>
		</ol>
	</li>
	<li>
		Matching objects on adjacent frames:
		<ol type="a">
			<li>Find center of mass for each detected object on both frames.</li>
			<li>Adjust number of objects by adding "empty" ones to the frame with lower number of objects.</li>
			<li>Create square cost matrix. 
			Value of (i,j)'th element equals 0 if any objects is empty, otherwise it is Euclidean distance of positions of i'th object on the first frame and j'th object 
			on the second frame.</li>
			<li>Find matching based on <a href="https://en.wikipedia.org/wiki/Hungarian_algorithm">Hungarian algorithm</a> which finds transversal array with minimum possible sum.</li>
			<li>Change numbers of objects of the second frame based on the matching.</li>
			<li>Delete undetected objects and compute new positions after matching.</li>
		</ol>
	</li>
	<li>
		Results presentation:
		<ol type="a">
			<li>Return to image's original size and add borders of objects on the frame.</li>
			<li>Combine adjacent frames to create a movie.</li>
		</ol>
	</li>
	<li>
		Additional requirements:
		<ol type="a">
			<li>After displaying results choose index of specific object to track it.</li>
		</ol>
	</li>
</ol>
{% endblock %}
</html>
