<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
 <script>
 document.title = "NGC"
 </script>
<div class="row">
  <div class="column">
      <h2>Normalized Graph Cuts</h2>
		<a href="{% url 'ngc_desc' %}" class="button">Description</a>
      	<div class="column__block1">
			<h3>Choose parameters:</h3>
			<form method="post" style="text-align: center;" action="{% url 'ngc' %}">
				{% csrf_token %}
				<div class="block__row">
					Type of algorithm:
					  <select name="Algorithm_type" size="2">
						  {% if type == 1 %}
						<option value=1 selected="selected">Basic (simple segmentation and object counting)</option>
						<option value=2>Advanced (+ removal of outlined objects)</option>
						  {% else %}
						  <option value=1 >Basic (simple segmentation and object counting)</option>
						<option value=2 selected="selected">Advanced (+ removal of outlined objects)</option>
						  {% endif %}
					  </select>
				</div>
				<div class="block__row">
					Sensivity regarding pixels' intensivity:
					  <input type="number" name="Intensivity" value={{sensivity}}>
				</div>
				<div class="block__row">
					Sensivity regarding pixels' spatial location:
					<input type="number" name="Distance" value={{sensivity_loc}}>
					<input type="submit" class="button" value="Submit">
					<input type="reset" class="button" value="Reset">
				</div>
			</form>
       {% if segmented_image %}
       {% endif %}
  </div>

  <div class="column">
    <h2>Segmentation</h2>

        {% if segmented_image %}
            <p style="text-align: center;"><img src="{{ segmented_image }}" alt=""  /></p>
        {% endif %}
        {% if counter %}
            <p style="text-align: center;">Number of objects: {{ counter }}</p>
        {% endif %}

        {% if image %}
            <p style="text-align: center;"><img src="{{ image }}" alt=""  /></p>
        {% else %}
            {% load static %}
            <p style="text-align: center;"><img src="{% static 'images/placeholder.png' %}" alt="" width="400" height="400" /></p>
        {% endif %}

      {% if segmented_image %}

       <form method="post" style="text-align: center;" action="{% url 'save_ngc' %}">
               {% csrf_token %}
				<div class="block__row">
					<label>Name:</label>
					<input type="text" name="Name" value='{{ name }}' readonly>
				</div>
				<div class="block__row">
					<label>Description:</label>
					<textarea readonly rows="7">{{ description }}</textarea>
				</div>			  
       </form>
      {% endif %}

  </div>
</div>
{% endblock %}
</html>
