<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="column">

      <h2 style="text-align: center;">Choose parameters for simple treshold segmentation:</h2>
        <form style="text-align: center;" method="post" action="{% url 'simple_tr_track' %}">
                {% csrf_token %}

				<div class="block__row">
					<label>Threshold:</label>
					<input type="number" name="Threshold" value=3.0>
				</div>

				<input type="submit" class="button" value="Submit" onclick="$('#loading').show();">
				<input type="reset" class="button" value="Reset">
        </form>

  </div>

  <div class="column">
    <h2 style="text-align: center;"><strong>Uploaded video</strong></h2>
      <div id="loading" style="display:none;">
					Loading!
					<br>
					<img src="/static/images/tenor.gif" alt="" />
        </div>

        {% if video %}
            <p style="text-align: center; "><video style="max-width:100%; max-height:100%;" src="{{ video }}" alt=""  /></p>
        {% else %}
            {% load static %}
            <p style="text-align: center;"><img src="{% static 'images/placeholder.png' %}" alt="" width="400" height="400" /></p>
        {% endif %}

  </div>
</div>
{% endblock %}
</html>