<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="column">
      <h2 style="text-align: center;">Choose parameters for two connected components segmentation:</h2>

        <form style="text-align: center;" method="post" action="{% url 'two_cc_track' %}">
           {% csrf_token %}
				   <div class="block__row">
					<label>Channel:</label>
					   <select name="Channel" size="4">
						   <option value=1 selected="selected">All</option>
						   <option value=2 >Red (recommended for bees)</option>
						   <option value=3 >Green</option>
							<option value=4 >Blue (recommended for blood cells)</option>
					  </select>
					</div>
					<div class="block__row">
					<label>Threshold:</label>
						<select name="Threshold" size="2">
						   <option value=1 selected="selected">Otsu's threshold</option>
						   <option value=2 >Const</option>
					   </select>
					</div>
					<div class="block__row">
					<label>Const (if was choosen above):</label>
						<input type="number" name="Const" value=86>
										</div>
					<div class="block__row">
					<label>Filling in holes:</label>
						<select name="Fill_in" size="2">
							<option value=1 selected="selected">Yes</option>
							<option value=2>No</option>
					   </select>
					 </div>
			<input type="submit" class="button" value="Submit" onclick="$('#loading').show();">
			<input type="reset" class="button" value = "Reset">
        </form>


  </div>

  <div class="column">
    <h2 style="text-align: center;"><strong>Uploaded video</strong></h2>
	  <div id="loading" style="display:none;">
				Loading!
				<br>
				<img src="/static/images/tenor.gif" alt="" />
      </div>

        {% if video %}
            <p style="text-align: center; "><video style="max-width:100%; max-height:100%;" src="{{ video }}" alt=""  /></p>
        {% else %}
            {% load static %}
            <p style="text-align: center;"><img src="{% static 'images/placeholder.png' %}" alt="" width="400" height="400" /></p>
        {% endif %}

  </div>
</div>
{% endblock %}
</html>