<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
 <script>
 document.title = "Two-cc"
 </script>
<div class="row">
  <div class="column">
      <h2>Two-connected components</h2>
		<a href="{% url 'two_cc_desc' %}" class="button">Description</a>
		<div class="column__block1">
			<h3>Choose parameters:</h3>
			   <form method="post" style="text-align: center;" action="{% url 'two_cc' %}">
				   {% csrf_token %}
				   <div class="block__row">
					<label>Channel:</label>
					   <select name="Channel" size="4">
						   <option value=1 selected="selected">All</option>
						   <option value=2 >Red (recommended for bees)</option>
						   <option value=3 >Green</option>
							<option value=4 >Blue (recommended for blood cells)</option>
					  </select>
					</div>
					<div class="block__row">
					<label>Threshold:</label>
						<select name="Threshold" size="2">
						   <option value=1 selected="selected">Otsu's threshold</option>
						   <option value=2 >Const</option>
					   </select>
					</div>
					<div class="block__row">
					<label>Const (if was choosen above):</label>
						<input type="number" name="Const" value=86>
										</div>
					<div class="block__row">
					<label>Filling in holes:</label>
						<select name="Fill_in" size="2">
							<option value=1 selected="selected">Yes</option>
							<option value=2>No</option>
					   </select>
					 </div>
			<input type="submit" class="button" value="Submit" onclick="$('#loading').show();">
			<input type="reset" class="button" value = "Reset">
        </form>
		</div>


 </div>

  <div class="column">
	<h2>Segmentation</h2>
		{% if image %}
			Original image:
			<br>
			<p style="text-align: center;"><img src="{{ image }}" alt=""  /></p>
		
			{% else %}
			{% load static %}
			<p style="text-align: center;"><img src="{% static 'images/placeholder.png' %}" alt="" width="400" height="400" /></p>
		{% endif %}
		
		{% if segmented_image %}
			Segmented image:
			<br>
			<p style="text-align: center;"><img src="{{ segmented_image }}" alt=""  /></p>
		{% else %}
			<div id="loading" style="display:none;">
				Loading!
				<br>
				<img src="/static/images/tenor.gif" alt="" /></div>
			<br>
		{% endif %}
        {% if counter %}
            <p style="text-align: center;">Number of objects: {{ counter }}</p>
        {% endif %}

      {% if segmented_image %}

       <form method="post" style="text-align: center;" action="{% url 'save_two_cc' %}">
               {% csrf_token %}
				<div class="block__row">
					<label>Name:</label>
					<input type="text" name="Name" value='Name'>
				</div>
				<div class="block__row">
					<label>Description:</label>
					<input type="text" name="Description" value='Description'>
				</div>
				<input class="button" type="submit" value="Submit">
				<input class="button" type="reset" value="Reset">
           {% if unique %}
           <h5 style="color:red">
               Already in base, choose other name!
           </h5>
           {% endif %}
       </form>
      {% endif %}

  </div>
</div>
{% endblock %}
</html>
