<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
 <script>
 document.title = "Algorithms"
 </script>
<h2>Segmentation</h2>
<ul class="list">
	<li>
    <a href="{% url 'mst_desc' %}">Minimal Spinning Tree</a>
	</li>
	<li>
    <a href="{% url 'ngc_desc' %}">Normalized Graph Cuts</a>
	</li>
	<li>
	<a href="{% url 'two_cc_desc' %}">Two-Connected Components</a>
	</li>
	<li>
	<a href="{% url 'interactive_desc' %}">Interactive Segmentation</a>
	</li>
</ul>
    <h2>Object Tracking</h2>
<ul class="list">
	<li>
    <a href="{% url 'gft_desc' %}">Global Flow Tracking</a>
	</li>
</ul>

{% endblock %}
</html>
