<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Home - Graph Segmentator</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/baseStyle.css' %}"/>

    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                        </div>
                        <div id="header-text" class="">
                           <h1>
                                <a href="/" title="Graph Segmentator" rel="home">Graph Segmentator</a>
                            </h1>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <hr>
                        <div>
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">

            </footer>
        </div>
    </body>
</html>
