<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Home - Graph Segmentator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/baseStyle.css' %}" />


    </head>
    <body>
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                        </div>
                        <div id="header-text" class="">
                           <h1>
                                <a href="/" title="Graph Segmentator" rel="home" style="color: white;">Graph Segmentator</a>
                            </h1>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <hr>
                        <div>
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
            </footer>
        </div>
    </body>
</html>
