<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
 <script>
 document.title = "GFA"
 </script>

<h2>Global Flow Tracking</h2>

<h3>Directed Acyclic Graph Construction:</h3>
<ul class="list">
	<li>
        𝐷=(𝑉,𝐴)
	</li>
    <li>
        𝑉=𝐹1∪𝐹2…𝐹𝑛, where 𝑛 is a number of frames
	</li>
    <li>
        (𝑢,𝑣)∈𝐴⟺𝑢∈𝐹𝑙, 𝑣∈𝐹𝑙+1 for some 𝑙∈{1,…,𝑛−1} and 𝑑𝑖𝑠𝑡(𝑢,𝑣)≤𝑑𝑚𝑎𝑥 (we consider Euclidean distance since 𝑢=(𝑥1,𝑦1) and 𝑣=(𝑥2,𝑦2) - coordinates of segments' centroids)
	</li>

</ul>

<h3>Directed Acyclic Graph Construction:</h3>
<ul class="list">
	<li>
        𝐷=(𝑉,𝐴)
	</li>
    <li>
        𝑉=𝐹1∪𝐹2…𝐹𝑛, where 𝑛 is a number of frames
	</li>
    <li>
        (𝑢,𝑣)∈𝐴⟺𝑢∈𝐹𝑙, 𝑣∈𝐹𝑙+1 for some 𝑙∈{1,…,𝑛−1} and 𝑑𝑖𝑠𝑡(𝑢,𝑣)≤𝑑𝑚𝑎𝑥 (we consider Euclidean distance since 𝑢=(𝑥1,𝑦1) and 𝑣=(𝑥2,𝑦2) - coordinates of segments' centroids)
	</li>

</ul>

<h3>Possible situations:</h3>
<ul class="list">
	<li>
        𝑣∈𝐹𝑘 has no neighbor in 𝐹𝑘+1,
	</li>
    <li>
        𝑣∈𝐹𝑘 has exactly one neighbor in 𝐹𝑘+1,
	</li>
    <li>
        𝑣∈𝐹𝑘 has more than one neighbor in 𝐹𝑘+1,
	</li>
    <li>
        𝑣,𝑢∈𝐹𝑘, 𝑣≠𝑢 has the same neighbor 𝑤∈𝐹𝑘+1,
	</li>


</ul>

<h3>Graph refinement methods:</h3>
<ul class="list">
	<li>
        Configuration I (PI) - case of missing connection - this can be easily fixed by simply increasing the search range until a neighborhood is found.
	</li>
    <li>
        Configuration II (PII) - case where one node connects to two neighbors which are far from each other. Link with the most distant node is removed from the graph. Let us emphasize that in case a node has more than three neighbors, only the most distant onis removed.
	</li>
    <li>
        Configuration III (PIII) - another conflicting situation where two nodes are connected to the same neighbor in 𝐹𝑘+1. If only one of the node has more than two neighbors then its connection with the common neighbor is removed. If both nodes have more than two neighbors, the longest connection with the common neighbor is removed.
	</li>

</ul>
<h4>
            Notice that after these procedures we get a graph that still can have redundant connections. It is shown that repeating above steps of reduction does not improve the result significantly.
</h4>

<h3>Full Trajectories via Min-cost/max Flow:</h3>
<h4>
    We expand directed graph 𝐷 in the following manner:
</h4>
<ul class="list">
	<li>
        𝑉:=𝑉∪{𝑠,𝑡},
	</li>
    <li>
        every arc (𝑢,𝑣) has unit capacity 𝑐,
	</li>
    <li>
        𝑓𝑢𝑣 is a volume of flow from 𝑢 to 𝑣 along 𝑒𝑢𝑣, 𝑓𝑢𝑣∈[0,1] or 𝑓𝑢𝑣∈[−1,0] (when (𝑢,𝑣) is negatively oriented), in general 𝑓𝑢𝑣=−𝑓𝑣𝑢,
	</li>
    <li>
        𝑤𝑢𝑣 is a cost per unit flow on 𝑒𝑢𝑣, namely: 𝑤𝑢𝑣=𝑑𝑖𝑠𝑡(𝑢,𝑣)/𝑑𝑚𝑎𝑥,
	</li>

    <li>
        edges from 𝑠 or to 𝑡 have no cost,
	</li>
    <li>
        sum of inflow and outflow volumes are equal at each node except 𝑠 and 𝑡.
	</li>

</ul>
<h4> Sending a volume 𝑚 of a circulation flow from 𝑠 to 𝑡

, and looking for the flow repartition along the graph with minimal cost is equivalent to solving the following problem [Ahuja et al., 1993]:
argmin𝑓∑(𝑢,𝑣)∈𝐴𝑤𝑢𝑣𝑓𝑢𝑣
</h4>

{% endblock %}
</html>
