<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<div class="square">
            <a href="{% url 'segmentation' %}" class="tilelink">
                <div class="tile1">
                    <br /><br /><br />Segmentation and object counting
                </div>
            </a>

			<a href="{% url 'tracking' %}" class="tilelinkhtml5">
				<div class="tile2">
					<br /><br /><br />Object tracking
				</div>
			</a>
			<div style="clear:both;"></div>

			<a href="{% url 'load_segmentation' %}" class="tilelink">
                <div class="tile3">
				    <br /><br /><br />Saved analysis
			    </div>
            </a>

			<a href="{% url 'algorithms_desc' %}" class="tilelink">
				<div class="tile4">
					<br /><br /><br />Algorithms descriptions
				</div>
			</a>
			<div style="clear:both;"></div>
</div>

{% endblock %}
</html>
