{% extends "base.html" %}
{% block content %}

<div class="square">
            <a href="{% url 'segmentation' %}" class="tilelink">
                <div class="tile1">
                    <br />Segmentation and object counting
                </div>
            </a>

			<a href="{% url 'tracking' %}" class="tilelinkhtml5">
				<div class="tile2">
					<br />Object tracking
				</div>
			</a>
			<div style="clear:both;"></div>

			<a href="cv-programista-php-javascript" class="tilelink">
                <div class="tile3">
				    <br />Saved analysis
			    </div>
            </a>

			<div class="tile4">
				<p>
                    About project:

                </p>
			</div>
			<div style="clear:both;"></div>
</div>
{% endblock %}
