<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="column">
      <h2 style="text-align: center;"><strong>Interactive Segmentation</strong></h2>
       <a href="{% url 'interactive_desc' %}" class="tilelink">
        <h4>Description</h4>
      </a>
      <h4 style="text-align: center;">Load foreground and background samples:</h4>

       <form method="post" style="text-align: center;" enctype="multipart/form-data" action="{% url 'interactive' %}">{% csrf_token %}
            <p>
                {% csrf_token %}
                Foreground: <input id="foreground" type="file" class="" name="foreground"><br><br>
                Background: <input id="background" type="file" class="" name="background">
            </p>
            <input type="submit" value="Submit">
            <input type="reset">
        </form>
        <!-- {% if computations_on %}
            {% load static %}
            <br>
            <p style="text-align: center;"><img src="{% static 'media/computations.gif' %}" alt="" /></p>
        {% endif %} -->
  </div>

  <div class="column">
    <h2 style="text-align: center;"><strong>Segmentation</strong></h2>

        {% if segmented_image %}
            <p style="text-align: center;"><img src="{{ segmented_image }}" alt=""  /></p>
        {% endif %}
        {% if counter %}
            <p style="text-align: center;">Number of objects: {{ counter }}</p>
        {% endif %}

        <br>

        {% if image %}
            <p style="text-align: center;"><img src="{{ image }}" alt=""  /></p>
        {% else %}
            {% load static %}
            <p style="text-align: center;"><img src="{% static 'images/placeholder.png' %}" alt="" width="400" height="400" /></p>
        {% endif %}

  </div>
</div>
{% endblock %}
</html>
