<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}



        <form style="text-align: center;" method="post" action="{% url 'load_segmentation' %}">
            {% csrf_token %}
          <select name="segmentations" size="10">
              {% for item in data %}
                <tr>
                    <option value={{item.1}}:{{item.5}} selected="selected">{{item.1}} -
                    {{item.5}} </option>
                </tr>
                <br>
              {% endfor %}
          </select>
          <br><br>

            <input type="submit" value="Submit">

        </form>

{% endblock %}
</html>
