<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

   <a href="//127.0.0.1:8000/static/media/tracking_video.mkv" >
       <h1 style="text-align: center;"><strong>TRACKING VIDEO</strong></h1>
   </a>

<!--        {% if video %}-->
<!--            <p style="text-align: center;"><video src="{{ video_out }}" alt=""  /></p>-->
<!--        {% else %}-->
<!--            {% load static %}-->
<!--            <p style="text-align: center;"><img src="{% static 'images/placeholder.png' %}" alt="" width="400" height="400" /></p>-->
<!--        {% endif %}-->

{% endblock %}
</html>
