<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
 <script>
 document.title = "NGC"
 </script>

<h2>Normalized Graph Cuts</h2>

<h3>Parameters:</h3>
<ul class="list">
	<li>Type of algorithm:
		<ul>
			<li>Basic</li>
			<li>Advanced</li>
		</ul>
	</li>
	<li>Radius:
		<ul>
			<li>Const (NGC)</li>
			<li>Real number (BALL NGC)</li>
		</ul>
	</li>
	<li>Pixel's intensivity affectibility:
		<ul>
			<li>Real number</li>
		</ul>
	</li>
	<li>Pixel's spatial location affectibility:
		<ul>
			<li>Real number</li>
		</ul>
	</li>
	
</ul>
<h3>Steps:</h3>
<h4>Basic algorithm:<h4>
<ol class="list">
	<li>
		Prepare cut matrix
		<ol type="a">
			<li>Create a square matrix M of size 256x256 where its size correponds to all posible values of pixels intensivity in grayscale.</li>
			<li>For each pixel compute a weight between it and its neighbours.</li>
			<li>Set elements of M as follows: (i,j) entry is equal to a sum of weights in a cut between pixels with intensivity i and j.</li>
		</ol>
	</li>
	<li>
		Search for optimal segmentation threshold
		<ol type="a">
			<li>Initialise searching function with threshold t (boundary pixel's intensivity) equal to 0 and the minimal cut equal to 2.</li>
			<li>Divide pixels into a two independent sets A and B where A contains all pixels with intensivity less or equal t and B contains all pixels with intensivity greater than t.</li>
			<li>Compute cost of cut respectively between sets A, B and set A/B and the whole set of pixels by a proper summing of cost matrix elements.</li>
			<li>Compute normalized cut as a ratio of calculated costs.</li>
			<li>If obtained cut is less than the previous one, set is as the minimal one and threshold t as the optimal one.</li>
			<li>Increase the current threshold by one and repeat above steps until the boundary reaches 256.</li>
			<li>Return segmented binary image with use of optimal threshold.</li>
		</ol>
	</li>
	<li>
		Detect objects on segmented image
		<ol type="a">
			<li>Create a graph with pixels as vertices.</li>
			<li>Use DFS algorithm to search for connected segments that belong to foreground and for their size.</li>
			<li>For each found segment choose unique index from 1 to 255 and ,,colour" all its pixels with it.</li>
			<li>Count objects by finding the greatest unique index.</li>
			<li>Return new segmentation and number of objects.</li>
		</ol>
	</li>
</ol>
<h4>Advanced algorithm:<h4>
<ol class="list">
	<li>
		Find outliners 
		<ol type="a">
			<li>Run Basic NGC algorithm on loaded image.</li>
			<li>Compute <a href="https://en.wikipedia.org/wiki/Median">median</a> of foreground's conneted segments' sizes and <a href="https://en.wikipedia.org/wiki/Interquartile_range">interquartile range</a>.</li>
			<li>Remove all segments with size not contained in obtained interval by setting their values to background's one.</li>
			<li>Count objects by finding the greatest unique index.</li>
			<li>Return new segmentation and number of objects.</li>
		</ol>
	</li>
</ol>
<h3>Source:<h3>
<ul class="list">
	<li><a href="https://ieeexplore.ieee.org/document/4604825">Article by Wenbing Tao, Hai Jin, Yimin Zhang, Liman Liu and Desheng Wang.</a></li>
</ul>
{% endblock %}
</html>
