<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="column">
      <h2 style="text-align: center;"><strong>Two-connected components</strong></h2>
       <a href="{% url 'two_cc_desc' %}" class="tilelink">
        <h4>Description</h4>
      </a>
      <h3 style="text-align: center;">Choose parameters:</h3>

       <form method="post" style="text-align: center;" action="{% url 'two_cc' %}">
           {% csrf_token %}
           Channel:<br>
               <select name="Channel" size="4">
                   <option value=1 selected="selected">All</option>
                   <option value=2 >Red (recommended for bees)</option>
                   <option value=3 >Green</option>
                    <option value=4 >Blue (recommended for blood cells)</option>
              </select>
           <br>
           Threshold:<br>
               <select name="Threshold" size="2">
                   <option value=1 selected="selected">Otsu's threshold</option>
                   <option value=2 >Const</option>
               </select>
           <br>
           Const (if was choosen above):<br>
               <input type="number" name="Const" value=86>
           <br>
           Filling in holes:<br>
                <select name="Fill_in" size="2">
                <option value=1 selected="selected">Yes</option>
                <option value=2>No</option>
               </select>
           <br>
           <br>
           <input type="submit" value="Submit">
          <input type="reset">
        </form>


 </div>

  <div class="column">
    <h2 style="text-align: center;"><strong>Segmentation</strong></h2>

        {% if segmented_image %}
            <p style="text-align: center;"><img src="{{ segmented_image }}" alt=""  /></p>
        {% endif %}
        {% if counter %}
            <p style="text-align: center;">Number of objects: {{ counter }}</p>
        {% endif %}

        <br>

        {% if image %}
            <p style="text-align: center;"><img src="{{ image }}" alt=""  /></p>
        {% else %}
            {% load static %}
            <p style="text-align: center;"><img src="{% static 'images/placeholder.png' %}" alt="" width="400" height="400" /></p>
        {% endif %}

  </div>
</div>
{% endblock %}
</html>
